<h3><i class="fas fa-reader"></i>Story Books</h3>
<div class="section">
    <div class="lead">
        Create Stories
    </div>
    <div class="divider"></div>
    <div class="section">
        <a href="/auth/google" class="btn red darken">
            <i class="fab fa-google left"></i>
            Sign in Google
        </a>
    </div>
</div>